body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* Navbar */
.navbar {
  padding: 15px 30px;
  background-color: #0b1c26;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Login Card */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #2c5364;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #203a43;
}

.footer-text {
  margin-top: 15px;
  font-size: 14px;
}

.footer-text span {
  color: #2c5364;
  font-weight: bold;
  cursor: pointer;
}

/* Dashboard */
.dashboard {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.result-box {
  margin-top: 20px;
  padding: 15px;
  background: #ffecec;
  color: #b30000;
  font-weight: bold;
  border-radius: 5px;
}
